<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>UserList</title>
    </head>

    <body>
        <h1>User list</h1>

        <table border="2" th:if="${loadSuccess}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td><a th:href="@{/updateUser/{id}(id=${user.id})}"><button type="submit">Update</button></a></td>
                    <td><form th:action="@{/removeUser/{id}(id=${user.id})}" method="post"><button type="submit">Remove</button></form></td>
                </tr>
            </tbody>
        </table>

        <div th:if="${loadSuccess}">
            <br>
            <a th:href="@{/addUser}">
                <button type="button">Add user</button>
            </a>
        </div>

        <p th:if="${message}" th:text="${message}"></p>

    </body>
</html>