<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>UserList</title>
    </head>

    <body>
        <h1>Update user</h1>

        <div th:if="${user}">
            <form th:action="@{/updateUser/{id}(id=${user.id})}" method="post">
                <label>FirstName:<input th:value="${user.firstName}" type="text" name="firstName" required></label>
                <br>
                <br>
                <label>LastName:<input th:value="${user.lastName}" type="text" name="lastName" required></label>
                <br>
                <br>
                <label>Age:<input th:value="${user.age}" type="number" name="age" required></label>
                <br>
                <br>
                <label>Email:<input th:value="${user.email}" type="email" name="email"></label>
                <br>
                <br>
                <a th:href="@{/}"><button type="button">Back</button></a>
                <button type="submit">Update user</button>
            </form>
        </div>
    </body>
</html>